<a data-toggle="collapse" href=#collapse<%=bestelling.id%> aria-expanded="true" aria-controls="<%=bestelling.id%>">
  <h2 class="card-title">
    <strong><%= bestelling.id %></strong>
    <strong> | <%= bestelling.created_at.in_time_zone("Amsterdam").strftime("%Y-%m-%d %H:%M:%S")%> | </strong>
    <strong> TIJD: <%=bestelling.time.strftime("%H:%M")%> | </strong>
    <strong>  <%if bestelling.isBezorgd%>
            Bez
          <%else%>
            Oph
          <%end%></strong>
  
    <a class="float-right"><%= bestelling.address %></a>
  </h2>
</a>
      
      
<div id=<%="collapse"+bestelling.id.to_s%> class="collapse">
  <h2 >
    <hr>
    <%bestelling.cart.product_sauces.each do |c|%>
      <div class="row">
        <div class="col-md-6">
          <%=c.quantity.to_s+" "+ c.afkorting%>
        </div>
        
        <div class="col-md-6"style="text-align:right;">
          <span>subtotaal: €<%='%.2f' % c.price%></span>
        </div>
      </div>
        
        
    <%end%>
    <%if bestelling.isBezorgd && bestelling.total_price<37.0%>
      <div class="col-md-6 ml-auto"style="text-align:right;">Bezorgkosten: €2.00</div>
    <%elsif !bestelling.isBezorgd%>
    <%else%>
      <div class="col-md-6 ml-auto"style="text-align:right;">Gratis bezorgkosten</div>
    <%end%>
    <div style="text-align:right;">Totaalbedrag: €<span><%='%.2f' % bestelling.total_price%></span></div>
    <hr>
    <p>
      <strong>Bezorgen of Ophalen:</strong>
      <%if bestelling.isBezorgd%>
            Bezorgen
          <%else%>
            Ophalen
          <%end%>
    </p>
    <p>
      <strong>Adres/Naam:</strong>
      <%= bestelling.address %>
    </p>

    <p>
      <strong>Number:</strong>
      <%= bestelling.number %>
    </p>
    <p>
        <strong>Tijdstip:</strong>
        <% if bestelling.time.strftime("%H:%M") == "00:00" %>
          Zo snel mogelijk
        <%else%>
          <%=bestelling.time.strftime("%H:%M")%>
        <%end%>
      </p>
      <p>
        <strong>Opmerkingen:</strong>
        <%= bestelling.note %>
      </p>
    <%=link_to 'Show', bestelling%>
    <%=link_to 'naar de printpagina', 'bestellings/'+bestelling.id.to_s+"/print_bestelling"%>

    <%= form_with(model: bestelling, local: true) do |form| %>
      <%= form.hidden_field :done, :value => !bestelling.done? %>
      <%= form.hidden_field :time, :value => bestelling.time %>
      <div  class="actions float-right">
      </div>

    <%end%>
  </h2>
</div>