<a data-toggle="collapse" href=#collapse<%=bestelling.id%> style="color: black; text-decoration: none;" aria-expanded="true" aria-controls="<%=bestelling.id%>">
  <h2 class="card-title">
    <strong><%= bestelling.id %></strong>
   
    <a class="float-right"><%= bestelling.address %></a>
  </h2>
</a>
      
      
<div id=<%="collapse"+bestelling.id.to_s%> class="collapse">
  <h2 >
    <%bestelling.cart.product_sauces.each do |c|%>
      <div class="row">
        <div class="col-md-6">
          <%=c.quantity.to_s+" "+ c.to_s%>
        </div>
        
        <div class="col-md-6"style="text-align:right;">
          <span>subtotaal: €<%=c.price%></span>
        </div>
      </div>
        
        
    <%end%>
    <%if bestelling.isBezorgd %>
      <div class="col-md-4 ml-auto">Bezorgkosten: €2</div>
    <%end%>
    <div style="text-align:right;">Totaalbedrag: €<span><%=bestelling.total_price%></span></div>

    <p>
      <strong>Bezorgen of Ophalen:</strong>
      <%if bestelling.isBezorgd%>
            Bezorgen
          <%else%>
            Ophalen
          <%end%>
    </p>
    <p>
      <strong>Adres/Naam:</strong>
      <%= bestelling.address %>
    </p>

    <p>
      <strong>Number:</strong>
      <%= bestelling.number %>
    </p>
    <%=link_to 'Show', bestelling%>
    <%= form_with(model: bestelling, local: true) do |form| %>
      <%= form.hidden_field :done, :value => !bestelling.done? %>
      <div class="actions float-right">
        <%= form.submit 'verander'%>
      </div>

    <%end%>
  </h2>
</div>