<%= form_with(model: bestelling, local: true) do |form| %>
  <% if bestelling.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bestelling.errors.count, "error") %> prohibited this bestelling from being saved:</h2>

      <ul>
        <% bestelling.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="heleBestelling">
    <%@cart.product_sauces.each do |c|%>
      <p><%=c.quantity%> <%=c.to_s.capitalize%>
      <span id="itemprice">subtotaal: €<%='%.2f' % c.price%></span></p>
      <hr>
    <%end%>
  </div>
  
  <div style="text-align:right;">Totaalbedrag: €<span id="totaalbedrag"><%='%.2f' % @cart.price%></span></div>
  <hr>
  
  <div class="field">
      <%= form.check_box :isBezorgd %> Laten Bezorgen (€2.00 bezorgkosten)<br />
  </div>
  <div id = "zsm_checkbox"><%= form.check_box :zsm_box %> zo snel mogelijk</div>
  <div id="timefields">
  
    
    <div class="field" id = "timefields_ophaal">
      Kies een ophaalmoment:
    
      <%ophaal_array=((Time.now.hour..23).to_a.product((0..55).step(5).to_a).map{|h, m| h.to_s+":"+m.to_s}.map{|t| Time.parse(t).strftime("%H:%M") if Time.parse(t)>=Time.now+(5*60)}).compact%>
      <%beschikbaar=ophaal_array.map{ |t| t if !Bestelling.find_by(time: Time.parse(t)) }.compact %>
      <%= form.select :time_ophaal, beschikbaar%>
      
    </div>
    
    
    <div class="field" id = "timefields_bezorg" style="display:none;">
      Of kies een tijd :
      <%bezorg_array=((Time.now.hour+1..23).to_a.product((0..55).step(5).to_a).map{|h, m| h.to_s+":"+m.to_s}.map{|t| Time.parse(t).strftime("%H:%M") if Time.parse(t)>=Time.now}).compact%>
      <%= form.select :time_bezorg, bezorg_array%>
    </div>
  </div>

  
  <div class="field">
    <%=form.label :opmerkingen%>
    <%= form.text_area :note%>
  </div>

  <div class="field" id="addressField">
    <%= form.label :address %>
    <%if current_user%>
      <%= form.text_field :address , :value => current_user.name%>
    <%else%>
      <%= form.text_field :address%>
    <%end%>
  </div>
  

  <div class="field">
    <%if current_user%>
      Telefoon Nummer <%= form.text_field :number, :value => current_user.number%>
    <%else%>
      <%= form.text_field :number%>
    <%end%>
  </div>
  
  


  <%= form.hidden_field :cart_id, :value => @cart.id %>
  <div class="actions">
    <%= form.submit 'Bestellen'%>
  </div>
<% end %>
