<%= form_with(model: bestelling, local: true) do |form| %>
  <% if bestelling.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bestelling.errors.count, "error") %> prohibited this bestelling from being saved:</h2>

      <ul>
        <% bestelling.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="heleBestelling">
    <%@cart.product_sauces.each do |c|%>
      <p><%=c.to_s%>,
      aantal: <%=c.quantity%>
      <span id="itemprice">subtotaal: €<%=c.price%></span></p>
      <hr>
    <%end%>
  </div>
  
  <div style="text-align:right;">Totaalbedrag: €<span id="totaalbedrag"><%=@cart.price%></span></div>
  <hr>
  <div class="field">
      <%= form.check_box :isBezorgd %> Laten Bezorgen (€2 bezorgkosten)<br />
  </div>
  <div class="field" id="addressField">
    <%= form.label :address %>
    <%if current_user%>
      <%= form.text_field :address , :value => current_user.name%>
    <%else%>
      <%= form.text_field :address%>
    <%end%>
  </div>
  

  <div class="field">
    <%if current_user%>
      Telefoon Nummer <%= form.text_field :number, :value => current_user.number%>
    <%else%>
      <%= form.text_field :number%>
    <%end%>
  </div>
  <div class="field" id = "timefields">
    Tijd : 
    <%= form.select :time_hour, (16..21).to_a %> : 
    <%= form.select :time_minute, (0..60).to_a %>
    
  </div>
  <%= form.check_box :time %> zo snel mogelijk
  <div class="field">
    <%=form.label :opmerkingen%>
    <%= form.text_area :note%>
  </div>


  <%= form.hidden_field :cart_id, :value => @cart.id %>
  <div class="actions">
    <%= form.submit 'Bestellen'%>
  </div>
<% end %>
