
<div class="container">
  <div class="card" id="section_to_print">
  <h1><%=@bestelling.time.strftime("%H:%M")+" "+@bestelling.id.to_s%></h1>
  <h5><%=@bestelling.created_at.in_time_zone("Amsterdam").strftime("%Y-%m-%d %H:%M")%></h5>
  <hr style="border:1px dashed black">
  <%@bestelling.cart.product_sauces.each do |c|%>
    <%if c.product.category==Category.find_by(name:"patat")%>
      <h1 class="card-body">
            <%=c.quantity.to_s+" "+c.to_s%>
      </h1>  
      <hr>
    <%end%> 
    <%if c.product.category!=Category.find_by(name:"patat")%>
      <h1 class="card-body">
        <%=c.quantity.to_s+" "+c.to_s%>
      </h1>  
    <%end%> 
  <%end%>
      <%if @bestelling.isBezorgd %>
        <h2 class="card-body"><div class="col-md-4 ml-auto">Bezorgkosten: €2</div></h2>
      <%end%>
      <hr style="border:1px dashed black">
      <h1 class="card-body">Totaalbedrag: €<%=@bestelling.total_price%></h1>
      <p>
      <h1 class="card-body">
        <%= @bestelling.address%> <br>
        <%=@bestelling.number %>
      </h1>



    
  </div>
  <%= link_to "PRINT", '', {id:"printbutton", method:"get"}%>
</div>

