

<div class="card mx-auto"style="width: 960px;">
  <p id="notice"><%= notice %></p>
  <h1 class="card-title">Samenvatting van uw bestelling:</h1>
  <h2 class="card-body">
    <%@bestelling.cart.product_sauces.each do |c|%>

        <div class="row">
          <div class="col-md-6">
            <%=c.quantity.to_s+" "+c.to_s%>
          </div>
          
          <div class="col-md-6"style="text-align:right;">
            <span>subtotaal: €<%=c.price%></span>
          </div>
        </div>
          
          
      <%end%>
      <%if @bestelling.isBezorgd %>
        <div class="col-md-4 ml-auto">Bezorgkosten: €2</div>
      <%end%>
      <hr>
      <div style="text-align:right;">Totaalbedrag: €<span><%=@bestelling.total_price%></span></div>
      <hr>
      <p>
        <strong>Bezorgen of Ophalen:</strong>
        <%if @bestelling.isBezorgd%>
              Bezorgen
            <%else%>
              Ophalen
            <%end%>
      </p>
      

      <%if @bestelling.isBezorgd%>
        <p><strong>Bezorgadres:</strong>
        <%= @bestelling.address %></p>
      <%else%>
        <p><strong>Onder de naam:</strong>
        <%=@bestelling.address%></p>
      <%end%>

      <p>
        <strong>Uw telefoonnummer:</strong>
        <%= @bestelling.number %>
      </p>
      <p>
        <strong>Tijdstip:</strong>
        <% if @bestelling.time.strftime("%H:%M") == "00:00" %>
          Zo snel mogelijk
        <%else%>
          <%=@bestelling.time.strftime("%H:%M")%>
        <%end%>
      </p>
      <p>
        <strong>Opmerkingen:</strong>
          <%= @bestelling.note %>
      </p>
    </h2>
      

  <%= link_to 'Back', root_path %>

</div>