

<p id="notice"><%= notice %></p>
  <h1>Uw Geplaatste Bestellingen</h1>
  <table>
    <thead>
      <tr>
        <th>Ophalen/Bezorgen</th>
        <th>Naam/Adres</th>
        <th>Ophaal/Bezorgtijd</th>
        <th>Totaalprijs</th>
        <th>Acties</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% current_user.bestellings.each do |bestelling| %>
        <tr>
          <%if bestelling.isBezorgd%>
            <td>Bezorgen</td>
          <%else%>
            <td>Ophalen</td>
          <%end%>
          <td><%= bestelling.address %></td>
          <td><%= bestelling.time.to_s(:time) %></td>
          <td>€<%= bestelling.total_price %></td>
          <td><%= link_to 'Bestelling weergeven', bestelling %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
