
<div class="row">
  <div class="col">
    <%@categories.each do |c|%>
    
      <p><div class="category-name" id=<%=c.name.capitalize%>><h1><%=c.name.capitalize%></h1></div></p>
      <div class=category_image><img src=<%= asset_path(c.name.capitalize+".jpg") %>></div>
      
      <% c.products.each do |p| %>
        <%= form_with(scope: :product_sauce, remote:true) do |form| %>
              <a data-toggle="collapse" href=<%="#"+p.name%>  style="color: black; text-decoration: none;"aria-expanded="true" aria-controls=<%="#"+p.name%>>
                      
                <div class="card product-card">
                
                <div class="card-body">
                  <h1 class="card-title"><%= p.name.capitalize %> € <%= p.price %></h1>
                  <%=form.hidden_field :product_id, value: p.id%>
                  
              </a>
                </div>
                <div id=<%=p.name%> class="collapse">
                  <div class="card-block">
                    <div class="card-body">
                      <%if c.hasSauce%>
                        <% options = options_for_select(@sauces.collect{ |p| [p.to_s, p.id] }) %>
                        <p><%= form.select :sauce_id,options%></p>
                      <%else%>
                        <%= form.hidden_field :sauce_id, value:Sauce.find_by(name:"geen").id%>
                      <%end%>
                      <%if p.category.name=="milkshakes"%>
                        <% options = options_for_select(ProductSauce.flavors.values) %>
                        <p><%= form.select :flavor,options%></p>
                      <%else%>
                        <%= form.hidden_field :flavor, value:"geen"%>
                      <%end%>

                      <p><%= form.number_field :quantity , value:1, min: 1%></p>
                      <%if p.description!=""%>
                        <p><%=form.label 'Descriptie:'%></p>
                        <p><%=p.description%></p>
                      <%end%>
                      <a><%= form.submit 'Voeg toe aan winkelmandje', {method: :post, class:"add-to-cart btn btn-danger"}%></a>
                    </div>
                  </div>
                  

                </div>
              </div>
            
        
      <% end %>
      <br>
    <%end%>
  <%end%>
  </div>
</div>