
<div class="row">
  <% @products.each do |p| %>
    <%= form_with(scope: :product_sauce, remote:true) do |form| %>
      
        <div class="col-sm-4">
            <div class="card" style="width: 16rem;">
            <img src="" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= p.name %> €<%= p.price %></h5>
              <%=form.hidden_field :product_id, value: p.id%>
              
              
              <% options = options_for_select(@sauces.collect{ |p| [p.to_s, p.id] }) %>
              <p><%= form.select :sauce_id,options%></p>
              <p><%= form.number_field :quantity , value:1, min: 1%></p>
              <p><%=form.label 'Descriptie:'%></p>
              <p><%=p.description%></p>
              
              <a><%= form.submit 'add to cart', {method: :post, class:"add-to-cart btn btn-danger"}%></a>

            </div>
          </div>
        </div>
      
    <% end %>
        
  <%end%>
</div>