<% @products.each do |p| %>
    <%= form_with(scope: :product_sauce, local: true) do |form| %>
      
        
        <tr>
          <td><div class="field">
          <%=form.hidden_field :product_id, value: p.id%>
          <%= p.name %>
          </div></td>
          

          <td>  <div class="field">
            <% options = options_for_select(@sauces.collect{ |p| [p.name, p.id] }) %>
            <%= form.select :sauce_id,options %>
            </div>
            </td>
          <td> <div class="field">
              <%= form.label :quantity %>
              <%= form.number_field :quantity , value:1, min: 1%>
            </div>
            </td>
            <td>
            <%= p.price %>
            </td>
          <td> <div class="actions">
              <%= button_to 'add to cart',root_path, method: :post%>
            </div>
            </td>
            
          </tr>
        <% end %>
      
  <%end%>