
<h1>Winkelmandje</h1>
<%if @cart%>
  <%@cart.product_sauces.each do |c|%>
    <%= form_with(scope: :product_sauce, local: true) do |form| %>
      <%=c.to_s%>,
      aantal: <%=c.quantity%>,
      prijs: €<%=c.price%>
      <%=form.hidden_field :id, value: c.id%>
      <%= form.hidden_field :product_id , value:c.product.id%>
      <%= form.hidden_field :sauce_id , value:c.sauce.id%>
      <%= form.hidden_field :quantity , value:1%>
      
      <%= button_to '+',root_path, method: :post%>

    <%end%>
    <%= form_with(scope: :product_sauce, local: true) do |form| %>
      <%=form.hidden_field :id, value: c.id%>
      <%= form.hidden_field :product_id , value:c.product.id%>
      <%= form.hidden_field :sauce_id , value:c.sauce.id%>
      <%= form.hidden_field :quantity , value:c.quantity%>
      <%= button_to '-',root_path, method: :patch%>
    <%end%>
    <%= form_with(scope: :product_sauce, local: true) do |form| %>
      <%=form.hidden_field :id, value: c.id%>
      <%= form.hidden_field :product_id , value:c.product.id%>
      <%= form.hidden_field :sauce_id , value:c.sauce.id%>
      <%= form.hidden_field :quantity , value:1%>
      <%= button_to 'delete',root_path, method: :delete%>
  <%end%>
  <%end%>
<%end%>
<%= button_to 'Bestellen', new_bestelling_path, method: :get, params:{cart_id: @cart} %>
