<div class="card "id="winkelmandje" href="#">
  <div class="card-body">
    <div id="wm-title"><h1>Winkelmandje</h1></div>
    <hr>
      <%if @cart%>  
        <%@cart.product_sauces.order("product_id, sauce_id, flavor").each do |c|%>
          <div class="row">
            
            <div class="col-sm-5">
              <h3><%=c.to_s%></h3>
            </div>
            <div class="col-sm-2">
              <h3><%=c.quantity%></h3>
            </div>
            <div class=col-sm-0>
            <%= form_with(scope: :product_sauce, remote: true) do |form| %>
              <%=form.hidden_field :id, value: c.id%>
              <%= form.hidden_field :product_id , value:c.product.id%>
              <%= form.hidden_field :sauce_id , value:c.sauce.id%>
              <%= form.hidden_field :quantity , value:c.quantity%>
              <%= form.hidden_field :flavor , value:c.flavor%>
              <%= button_to root_path, {method: :patch, class:"btn btn-light"} do%>
                <%= octicon "dash" %>
              <%end%>
            <%end%>
            </div>
            <div class="col-sm-0">
            <%= form_with(scope: :product_sauce, remote: true) do |form| %>
              
                <%=form.hidden_field :id, value: c.id%>
                <%= form.hidden_field :product_id , value:c.product.id%>
                <%= form.hidden_field :sauce_id , value:c.sauce.id%>
                <%= form.hidden_field :quantity , value:1%>
                <%= form.hidden_field :flavor , value:c.flavor%>
                <%= button_to root_path,  {method: :post, class:"btn btn-light"} do%>
                  <%= octicon "plus" %>
              <%end%>
            
            <%end%>
            </div>
            <div class="col-sm-1">
              <%= form_with(scope: :product_sauce, remote: true) do |form| %>
                <%=form.hidden_field :id, value: c.id%>
                <%= form.hidden_field :product_id , value:c.product.id%>
                <%= form.hidden_field :sauce_id , value:c.sauce.id%>
                <%= form.hidden_field :quantity , value:1%>
                <%= button_to root_path, {method: :delete,class:"btn btn-danger"}  do%>
                  <%= octicon "trashcan" %>
                <%end%>
              <%end%>
            </div>
            <div class="col-sm-2">
              <h3>€<%='%.2f' % c.price%></h3>
            </div>
          </div>
          <hr>
        <%end%>
        <h3><strong>Totaalbedrag: </strong> € <%='%.2f' % @cart.price%></h3>
        <div class="float-right">
        <%= button_to 'Bestellen', new_bestelling_path, method: :get, params:{cart_id: @cart} %>
      </div>
      <%end%>
      
  </div>
</div>
