<p id="notice"><%= notice %></p>

<h1>Broods</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @broods.each do |brood| %>
      <tr>
        <td><%= brood.name %></td>
        <td><%= brood.price %></td>
        <td><%= link_to 'Show', brood %></td>
        <td><%= link_to 'Edit', edit_brood_path(brood) %></td>
        <td><%= link_to 'Destroy', brood, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Brood', new_brood_path %>
