<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav">

    <%if !user_signed_in?%>
      <li class="nav-item">
        <a class="nav-link" href=<%=user_session_path%>>Log in <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href=<%=new_user_registration_path%>>Sign up <span class="sr-only"></span></a>
    </li>
      <%end%>

    
    <%if user_signed_in?%>
      <%if current_user.admin?%>
        <li class="nav-item">
          <a class="nav-link"><strong>Ingelogd als Admin</strong></a>
          </li>
        <li class="nav-item">
          <a class="nav-link" <%=link_to 'Bestellingen', bestellings_path %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" <%=link_to 'Producten', products_path %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" <%=link_to 'Sauzen', sauces_path %></a>
        </li>
      <%end%>

      <li class="nav-item">
        <a class="nav-link" <%=link_to 'Edit Profile', edit_user_registration_path %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" <%=link_to 'Log out', destroy_user_session_path, method: :delete %></a>

      </li>

    <%end%>

  </ul>
</div>